{% extends 'base.html.twig' %}
{% block body %}

<div class="content-top">
        <img src="{{ asset('template/dist/img/supply-chain.jpg') }}" style="width: 100%; height: auto; background-size: cover;">
    </div>
    
    

    
    <div class="container-fluid" style="padding: 20px 15px;">
    <h1 class="home-tag" style="text-align: center; text-transform: none; font-weight: 800 !important; text-decoration: underline;">Welcome to Kookaburra!</h1>
    <p style="padding-top: 10px; text-align: center;font-size: 20px;color:#565655;">Experience the latest, most comprehensive Supply Chain resources now at your fingertips.<br>
    Have a great and productive day ahead!
    </p>
    
    
        <style type="text/css">
        .social-m .social{width: 30px; height: auto;}
        </style>
        
        <img src="{{ asset('template/dist/img/1go_logistics.png') }}" style="width: 150px; height: auto; display: block; margin: 50px auto 10px;">
        <a href="http://in1gotech.com/" target="_blank" ><p style="text-align: center;text-decoration: underline; padding-bottom: 10px;">www.in1gotech.com</a>
        <div class="social-m col-lg-12" style="text-align: center; display: block; margin: 0 auto;">
                 <a href="https://www.facebook.com/in1gotech/" target="_blank"><img class="social so-fb" src="{{ asset('template/dist/img/social/fb.png') }}"></a>
                 <a href="https://www.linkedin.com/company/in1go-technologies" target="_blank"><img class="social so-in" src="{{ asset('template/dist/img/social/in.png') }}"></a>
                 <a href="https://twitter.com/in1gotech" target="_blank"><img class="social so-tt" src="{{ asset('template/dist/img/social/twt.png') }}"></a>
                  <a href="https://www.instagram.com/in1gotech/?hl=en" target="_blank"><img class="social so-ig" src="{{ asset('template/dist/img/social/ig.png') }}"></a>
                  <a href="https://plus.google.com/116195976032179745143" target="_blank"><img class="social so-g+" src="{{ asset('template/dist/img/social/g+.png') }}"></a>
                   
        </div>
        <br>
        <br>
        <br>
        <div style="border-bottom: 1px solid #ccc; clear: both; margin-top: 20px; "></div>
        
    </div>
    <!-- END RHAN CUSTOMIZATION CONTENT -->
   


    <!-- Main content -->
    <section class="content">
            
      <!-- /.row -->
      <!-- Main row -->
      <h1 class="header" style="text-align: center; text-transform: uppercase"> Yard Management</h1>
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
               <li  class="active"><a href="#1go-load" data-toggle="tab">Load Status</a></li>
               <li><a href="#parking" data-toggle="tab">Parking Area</a></li>
               <li class="pull-left header"><i class="fa fa-truck"></i> Status</li>
            </ul>
            <div class="tab-content">
              <!-- PARKING AREA -->
              <div class="chart tab-pane fade" id="parking" style="position: relative; height: auto;">
                    <!--1st row parking-->
                 <div class="row">
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                
                </div>
                <br>
                <!--2nd row parking-->
                <div class="row">
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                
                </div>
               
              </div>
               <br>
              <!-- /PARKING AREA -->
              <!-- DELIVERIES -->   
              <div class="chart tab-pane active" id="1go-load" style="position: relative; height: auto;">
                <!--1st row Deliveries-->
                <div class="row">
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;color: green;">
                                  <i class="fa fa-truck"></i>
                                 </div>
                                 
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div> 
                         </div>
                         <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;color: green;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px; color: green;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                
                </div>
                <br>
                <!--2nd row Deliveries-->
                <div class="row">
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;color: green;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;color: green;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px; color: green;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                    
                    <div class="col-lg-3 col-xs-6">
                        <div class="" style="width: 100%; border: 1px solid #ccc; height: 150px;">
                              <div class="small-box bg-navy">
                                <div class="icon" style="margin: 0 auto; display: block; right: 30%; font-size: 120px;">
                                  <i class="fa fa-truck"></i>
                                </div>
                                <a href="#" class="small-box-footer">Full details <i class="fa fa-arrow-circle-right"></i></a>
                              </div>
                         </div>
                          <span>CODE 0012</span>
                    </div>
                
                </div>
            <!-- /DELIVERIES--> 
              </div>
            </div>
          </div>
          <br>
          <!-- /.nav-tabs-custom -->
            
         
          <!-- quick email widget -->
          <h1 class="header" style="text-align: center; text-transform: uppercase"> Contact Us</h1>
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Send us a message</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <form action="#" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" name="emailto" placeholder="Email to:">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Subject">
                </div>
                <div>
                  <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>
              </form>
            </div>
            <div class="box-footer clearfix">
              <button type="button" class="pull-right btn btn-default" id="sendEmail">Send
                <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

        </section>
        
    </section>
    {% endblock %}